﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gitlab-gantt</title>
    <!-- jquery -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="./node_modules/jquery-ui-dist/jquery-ui.min.css" />
    <style>
        .ui-widget-overlay {
            background: #000000;
            opacity: 0.2;
        }

        #header {
            margin: 0px;
            padding: 0px;
            background-color: rgba(0, 0, 0, 0.3);
        }

        #header label {
            margin: 0;
        }

        #header-main {
            margin: 0px;
            padding: 5px;
        }

        #header-sub {
            margin: 0px;
            padding: 5px;
        }

        #body {
            margin: 5px 15px;
        }

        #body fieldset {
            border: 1px solid black;
            margin-bottom: 10px;
        }

        #body legend {
            font-size: 15px;
            width: auto;
            padding: 0 5px;
            margin-left: 10px;
            margin-bottom: 0;
        }

        #body .in-field {
            margin: 5px;
        }
    </style>

    <!-- dependencies for angular-gantt -->
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <link rel="stylesheet" href="./node_modules/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="./node_modules/css-element-queries/src/ElementQueries.js"></script>
    <script src="./node_modules/css-element-queries/src/ResizeSensor.js"></script>
    <script src="./node_modules/moment/min/moment.min.js"></script>
    <script src="./node_modules/moment-range/dist/moment-range.js"></script>

    <!-- angular-gantt -->
    <script src="./node_modules/angular-gantt/dist/angular-gantt.min.js"></script>
    <link rel="stylesheet" href="./node_modules/angular-gantt/dist/angular-gantt.min.css" />

    <script src="app.js"></script>
</head>

<body ng-app="App" ng-controller="AppController">
    <!-- dialog to load data from GitLab -->
    <div id="load-dialog"></div>

    <div id="header">
        <div id="header-main">
            <label><a id="switch-display-header-sub" href="javascript:void(0);">▽</a></label>
            <label>Base URL:</label>
            <input type="text" ng-model="baseUrl" />
            <label>Project ID:</label>
            <input type="text" ng-model="projectId" />
            <label>Private Token:</label>
            <input type="text" ng-model="privateToken" />
            <button type="button" ng-click="load()">Load</button>
        </div>
        <div id="header-sub" style="display: none;">
            <label>Milestones State:</label>
            <select ng-model="milestonesState">
                <option value=""></option>
                <option value="active">active</option>
                <option value="closed">closed</option>
            </select>
            <label>Issues State:</label>
            <select ng-model="issuesState">
                <option value=""></option>
                <option value="opened">opened</option>
                <option value="closed">closed</option>
            </select>
        </div>
    </div>

    <div id="body">
        <fieldset>
            <legend>Gantt Chart Column Widths</legend>
            <div class="in-field">
                <label>Title Width:</label>
                <input type="number" min="0" ng-model="titleWidth" style="width: 50px" />
                <label>Start Date Width:</label>
                <input type="number" min="0" ng-model="startDateWidth" style="width: 50px" />
                <label>Due Date Width:</label>
                <input type="number" min="0" ng-model="dueDateWidth" style="width: 50px" />
                <label>Assignee Width:</label>
                <input type="number" min="0" ng-model="assigneeWidth" style="width: 50px" />
                <label>Column Width:</label>
                <input type="number" min="0" ng-model="columnWidth" style="width: 50px" />
                <button type="button" ng-click="applyWidthStyle()">Apply</button>
            </div>
        </fieldset>

        <div gantt api="registerApi" data="data" time-frames="timeFrames" date-frames="dateFrames" max-height="10000" column-width="options.columnWidth" current-date="'column'" style="margin: 10px;">
            <gantt-tree></gantt-tree>
            <gantt-table columns="options.columns" headers="options.headers" formatters="options.formatters" classes="options.classes"></gantt-table>
            <gantt-tooltips></gantt-tooltips>
        </div>
    </div>
</body>

</html>
